/* Google Fonts */

/*@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');*/
@font-face {
  font-family: "Motiva Sans";
  src: local("/public/font/Motiva-Sans.ttf"),
  local("/public/font/Motiva-Sans.ttf"),
  url(/public/fonts/Motiva-Sans.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "Motiva Sans Light";
  src: local("/public/font/Motiva-Sans-Light.ttf"),
  local("/public/font/Motiva-Sans-Light.ttf"),
  url(/public/fonts/Motiva-Sans-Light.ttf);
  font-weight: normal;
}

/* Variables */

:root {
  --bg-main: #1B2838;
  --bg-nav: #171A21;
  --bg-accent: #1b2838;
  --bg-info: #fff2bb;
  --bg-error: #612728;
  --bg-warning: #274861;
  --color-main: #e0e0e0;
  --color-input: #22394B;
  --color-valid: #5cc258;
  --color-invalid: #c2585e;
  --font-main: 'Motiva Sans Light';
  --font-secondary: 'Motiva Sans';
}

/* General reset */

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas,
caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption,
figure, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd,
label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small,
span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: initial;
}

/* General styles */

/*html {
  min-height: 100%;
  display: flex;
}*/

body {
  background: rgba(25, 31, 38, 1) linear-gradient(157deg, rgba(27, 40, 56, 1) 35%, rgba(25, 31, 38, 1) 100%);
  color: var(--color-main);
  font-family: var(--font-main);
  /*min-height: 100%;
  flex: 1; -- that is not working :( */
}

#main-wrapper {
  width: 60%;
  margin-left: 20%;
}

h1 {
  font-size: 42px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  font-family: var(--font-secondary), serif;
}

h4 {
  font-size: 18px;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Inputs */
input[type="text"],
input[type="password"],
input[type="mail"],
input[type="number"] {
  background-color: var(--color-input);
  border-radius: 0;
  border: 1px solid #333333;/*#2b2f40;*/
  font-family: var(--font-main);
  height: 32px;
  padding: 18px 10px;
  width: 100%;
  outline: none;
  color: whitesmoke;
  -webkit-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.20);
  -moz-box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.20);
  box-shadow: 10px 10px 20px -10px rgba(0,0,0,0.20);
  transition: 0.2s;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border-color: #525a76;
}

.input[type="text"]:focus,
.input[type="password"]:focus {
  border: 1px solid #333333;
}

input[type="reset"],
input[type="submit"] {
  display: inline-block;
  font-family: var(--font-main);
  padding: 8px 12px;
}

input[type="reset"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

.box {
  border: 1px solid rgba(0, 0, 0, .2);
  display: inline-block;
  margin: 16px 0;
  padding: 16px;
}

.box.info {
  background: var(--bg-info);
}

.box.error {
  background: var(--bg-error);
  border-radius: 4px;
  -webkit-box-shadow: 10px 10px 64px -12px rgba(17,29,41,0.64);
  -moz-box-shadow: 10px 10px 64px -12px rgba(17,29,41,0.64);
  box-shadow: 10px 10px 64px -12px rgba(17,29,41,0.64);
}

.box.warning {
  background: var(--bg-warning);
  border-radius: 4px;
  -webkit-box-shadow: 10px 10px 32px -12px rgba(17,29,41,0.40);
  -moz-box-shadow: 10px 10px 32px -12px rgba(17,29,41,0.40);
  box-shadow: 10px 10px 32px -12px rgba(17,29,41,0.40);
}

strong {
  font-weight: 600;
}

/* Nav styles */

nav {
  background-color: var(--bg-nav);
  display: flex;
  height: 100px;
  padding: 4px 8px;
  -webkit-box-shadow: 0 -5px 36px 2px rgba(0,0,0,0.48);
  -moz-box-shadow: 0 -5px 36px 2px rgba(0,0,0,0.48);
  box-shadow: 0 -5px 36px 2px rgba(0,0,0,0.48);
  font-family: var(--font-secondary), serif;
}

nav .nav-wrapper {
  width: 50%;
  margin-left: 25%;
  display: flex;
}

@media all  and (max-width: 1600px) and (min-width: 480px) {
  #main-wrapper {
    width: 80%;
    margin-left: 10%;
  }

  nav .nav-wrapper {
    width: 60%;
    margin-left: 20%;
  }
}

nav .nav-top {
  margin-top: -55px;
  font-size: 12px;
  text-transform: none;
  padding-bottom: 5px;
}

nav img {
  width: auto;
  margin-right: 10px;
}

nav a {
  transition: 0.3s;
  color : #C5C3C0;
  align-self: center;
  font-size: 14px;
  padding: 0 8px;
  text-transform: uppercase;
}

nav a:hover {
  color: #FFFFFF;
}

nav a.download-button {
  margin-left: auto;
  margin-right: 20px;
  font-size: 11px;
  display: inline-block;
  padding-left: 35px;
  padding-right: 9px;
  padding-bottom: unset;
  background-color: #5c7e10;
  background-position: 10px 5px;
  background-image:
    url(https://store.cloudflare.steamstatic.com/public/shared/images/header/btn_header_installsteam_download.png?v=1);
  background-repeat: no-repeat;
  text-decoration: none;
  text-transform: none;
  color: #e5e4dc;
  font-weight: normal;
  line-height: 25px;
  -webkit-box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.37);
  -moz-box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.37);
  box-shadow: 2px 2px 6px -1px rgba(0,0,0,0.37);
  transition: 100ms all;
}

nav a.download-button:hover {
  color: whitesmoke;
}

nav a img {
  vertical-align: top;
  width: 16px;
}

#nav-dropdown, #nav-dropdown ul {
  list-style:none;
  width: 150px;
  padding-bottom: 10px;
}

#nav-dropdown li {
  position: relative;
}

#nav-dropdown a {
  margin-top: 12px;
  display:block;
  text-decoration: none;
}

#nav-dropdown ul {
  position: absolute;
  top:-100em;
  z-index: -1;
  opacity: 0;
  left: -25px;
  border: 1px solid #171a21;
  background-color: #171a21;
  box-shadow: 0 0 12px #000000;
  transition: all 30ms;
}

#nav-dropdown li:hover ul {
  top: 18px;
  opacity: 1;
  z-index: 999;
}

.nav-dropdown-item {
  color: #b8b6b4;
  text-transform: none;
  font-family: Motiva Sans, Arial, Helvectica, Verdana, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
  cursor: pointer;
}

.nav-dropdown-item a {
  font-size: 12px !important;
  margin-left: 15px;
  padding: 0px;
  margin-top: 1px;
}

/* Home styles */
.banner-home {
  -webkit-box-shadow: 4px 29px 44px -35px rgba(0,0,0,0.33);
  -moz-box-shadow: 4px 29px 44px -35px rgba(0,0,0,0.33);
  box-shadow: 4px 29px 44px -35px rgba(0,0,0,0.33);
}


#home .banner {
  background-color: var(--bg-accent);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
}

#home .banner h2 {
  margin-bottom: 32px;
}

#home .banner a {
  font-size: 18px;
}

#home .brief {
  display: flex;
  margin: 32px 16px;
  padding: 16px;
}

#home .brief-image {
  align-self: center;
  flex: 1;
  text-align: center;
  padding: 0 32px;
}

#home .brief-text {
  flex: 1;
  align-self: center;
}

#home .brief-image img {
  max-width: 100%;
}

#home .brief-text h3 {
  margin-bottom: 8px;
}

#home .brief-text p {
  margin-bottom: 8px;
}

#home .brief-text a {
  display: inline-block;
  border: none;
  text-decoration: none;
  transition: box-shadow 200ms, color 200ms;
}

.simple-button {
  background-color: #164F6E;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  color: #A4D7F5;
  transition: box-shadow 200ms, color 200ms;
}

.simple-button:hover {
  box-shadow: 0 0 40px 40px #5DB7EB inset;
  color: #FFFEFD;
}

.simple-button-reset {
  background-color: #2d353e;
  color: #7b8b99;
}

.simple-button-reset:hover {
  box-shadow: 0 0 40px 40px #464D58 inset;
  color: #a0a3a7;
}

/* News styles */
#news {
  display: inline-block;
  margin: 64px 32px 64px 64px;
}

.news-item {
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 10px 24px 24px;
  position: relative;
  border-radius: 3px;
  background: radial-gradient(circle at top left, #3a404a 10%, #32353e 90%);
  overflow: hidden;
  /*box-shadow: 2px 2px 5px 2px rgb(20 20 20);*/
  -webkit-box-shadow: 2px 2px 24px -7px rgba(0,0,0,0.79);
  -moz-box-shadow: 2px 2px 24px -7px rgba(0,0,0,0.79);
  box-shadow: 2px 2px 24px -7px rgba(0,0,0,0.79);
  transition: all 200ms ease-in;
}

.news-item:hover {
  -webkit-box-shadow: 2px 2px 37px -7px rgba(0,0,0,0.79);
  -moz-box-shadow: 2px 2px 37px -7px rgba(0,0,0,0.79);
  box-shadow: 2px 2px 37px -7px rgba(0,0,0,0.79);
  background: radial-gradient(circle at top left, #4E5562 10%, #484D59 90%);
}

.news-item-head {
  font-size: 14px;
}

.news-item-title {
  font-weight: 600;
  font-size: large;
}

.news-item-category {
  text-transform: uppercase;
  font-size: medium;
  color: #7f7f7f;
}

.news-item-category > span {
  text-transform: none;
  font-size: small;
  color: #6b8493;
}

.news-item-content {
  margin-top: 10px;
  font-weight: normal;
}

.news-item-content a {
  color: #aca9a9;
  transition: all 150ms;
}

.news-item-content a:hover {
  color: #eae9e9;
}

.news-item-content li {
  margin-left: 15px;
}

.news-item-content-link {
  color: #7f7f7f;
  text-transform: uppercase;
  font-size: smaller;
  margin-top: 10px;
  transition: all 300ms;
}

.news-item-content-link:hover {
  color: #bababa;
}

/* Store styles */

#store {
  display: flex;
  margin: 64px 32px;
}

#store form {
  align-self: flex-start;
  min-width: 280px;
  padding: 20px;
  margin: 5px;
  position: sticky;
  top: 50px;
}

#store form h4 {
  margin-bottom: 8px;
  font-family: var(--font-secondary), serif;
  font-weight: normal;
  text-transform: none;
  font-size: small;
}

#store form h4:not(:first-child) {
  margin-top: 20px;
}

#store input[type="text"] {
  border: unset;
  font-size: 12px;
  padding: 14px 10px;
}

#store input[type="submit"],
#store input[type="reset"] {
  margin-top: 20px;
}

#store .products {
  flex-grow: 1;
}

#store .card {
  position: relative;
  background-color: #19242f;
  margin-bottom: 5px;
  display: flex;
  text-decoration: none;
  color: #c6d4df;
  font-weight: 300;
  height: 90px;
  overflow: hidden;
  margin-right: 25px;
  margin-left: 30px;
  transition: height 0.25s, margin 0.25s;
  border: 1px solid rgba( 139, 185, 224, 0 );
}

#store .card:hover {
  border-color: #111418;
  background-color: #16202D;
  -webkit-box-shadow: 10px 10px 29px -17px rgba(0,0,0,0.65);
  -moz-box-shadow: 10px 10px 29px -17px rgba(0,0,0,0.65);
  box-shadow: 15px 15px 34px -22px rgba(0,0,0,0.75);
}

#store .card a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#store .card-category {
  background: var(--bg-nav);
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  margin-top: 16px;
  padding: 4px 8px;
}

#store .card-image {
  margin-left: 10px;
  height: 70px;
  margin-top: 10px;
}

#store .card-image img {
  max-width: 100%;
  max-height: 100%;
}

#store .card-title {
  margin-top: 4px;
  font-weight: 600;
  font-size: 20px;
}

#store .card-price {
  margin-top: 35px;
  font-size: 18px;
  font-weight: 200;
}

#store .search-bloc-header {
  background: rgba( 255, 255, 255, 0.1);
  padding: 4px 4px 1px 6px;
  color: #c7d5e0;
  font-size: 12px;
  font-weight: normal;
}

#store .search-bloc-header h4{
  margin-top: 6px;
}

#store .search-bloc-content {
  background-color: #1B2838;
  padding: 8px;
  border: 1px solid rgba( 255, 255, 255, 0.1);
}

#store .search-bloc {
  margin-top: 20px;
}

.search-bloc input {
  font-size: 6px;
  margin-top: 2px;
}

#store input[type="reset"],
#home p > .simple-button-reset {
  border-radius: 2px;
  border: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 24px;
  background: linear-gradient(to right, #7f7f7f 5%, #575757 60%) 25%;
  background-size: 330% 100%;
  text-decoration: none !important;
  color: #d3d6db; !important;
  padding: 10px 40px;
  font-size: 14px;
}

#home p > .simple-button-reset {
  padding: 10px 20px;
  font-size: 12px;
  margin-left: 2px;
}

#store .search-count {
  position: relative;
  background-color: #19242f;
  margin-bottom: 5px;
  display: flex;
  text-decoration: none;
  color: #c6d4df;
  font-weight: 300;
  height: 35px;
  overflow: hidden;
  margin-right: 25px;
  margin-left: 30px;
  padding: 8px;
  transition: height 0.25s, margin 0.25s;
  border: 1px solid rgba( 139, 185, 224, 0 );
}

/* Product styles */

#product > div {
  display: flex;
  margin: 32px;
  /*background-color: #171E25;*/
}

#product h2 {
  margin: 32px 0 16px;
}

#product-infos-small h2 {
  margin-top: 5px;
}

#product h3 {
  font-size: 22px;
  font-weight: 300;
  margin: 16px 0 8px;
}

#product ul {
  margin: 16px 0 0 16px;
}

#product li {
  margin-top: 8px;
}

.developer {
  color: #3d7590;
  font-family: var(--font-main), serif;
}

.developer-small {
  margin-top: 16px;
  margin-left: 15px;
  color: #3d7590;
  font-family: var(--font-main), serif;
}

#product #product-select-count {
  background-color: inherit;
  cursor: initial;
  border: none;
  font-weight: bold;
}

#product .product-images {
  flex: 1;
  text-align: center;
  padding: 32px;
}

#product .product-images img {
  max-width: 100%;
  max-height: 400px;
}

#product .product-miniatures {
  align-items: center;
  display: flex;
}

#product .product-miniatures div {
  align-items: center;
  align-self: stretch;
  border: 2px solid transparent;
  display: flex;
  flex: 1;
  margin: 8px;
  transition: 100ms all;
}

#product .product-miniatures div:hover {
  cursor: pointer;
  border: 2px solid #2a475e;
  border-radius: 3px;
}

#product .product-miniatures img {
  padding: 8px;
}

.product-infos {
  flex: 1;
  padding-top: 100px;
}

.product-infos .product-infos-div {
  padding: 30px;
  right: 60px;
  left: 0;
}

.product-infos #product-select-error {
  float: right;
  margin: 2px 2px 2px 20px;
  padding: 8px;
  line-height: 10px;
  font-size: small;
  transition: all 100ms;
  opacity: 0;
}

.product-infos .product-category,
.cart-product .product-category,
.product-infos-small .product-category{
  background-color: var(--bg-nav);
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  padding: 8px 12px;
}

.product-price {
  font-size: 40px;
  font-weight: 300;
  margin: 16px 0;
}

.product-infos input,
.cart-product button {
  display: block;
  font-size: 16px;
  margin-top: 16px;
  padding: 8px 12px;
}

.product-infos button,
.cart-product button {
  background-color: #0c3a4e;
  border-radius: 2px;
  color: var(--color-main);
  font-family: var(--font-main);
  font-size: 20px;
  padding: 2px 8px;
}

.product-infos button:hover {
  cursor: pointer;
  background-color: #164F6E;
}

#product-add-to-cart,
#product-add-to-cart-small {
  background-color: #588a1b;
  color: #cfffd4;
}

#product-add-to-cart:hover,
#product-add-to-cart-small:hover {
  box-shadow: 0 0 40px 40px #7EC126 inset;
}

#product-add-to-cart-small {
  height: 45px;
  right: 10%;
  border-radius: 5px;
  font-size: medium;
  padding-top: -5px;
  padding-bottom: -5px;
  vertical-align: center;
}

.product-infos-small {
  vertical-align: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px 20% 25px 15%;
  width: 100%;
  background: #18202a;
  display: flex;
  z-index: 1;
  transition: all 1s;
  -webkit-box-shadow: 0 10px 43px -5px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 10px 43px -5px rgba(0,0,0,0.6);
  box-shadow: 0 10px 43px -5px rgba(0,0,0,0.6);
}

.product-price-small {
  font-size: 30px;
  font-weight: 500;
  margin-top: 6px;
  padding-right: 20px;
}

.visible {
  opacity: 0.95;
  top: 0;
}

.hidden {
  opacity: 0;
  top: -50%;
}

#product .product-spec {
  flex: 3;
  padding: 32px;
  text-align: justify;
}

#product .product-spec h2,
#product h3:not(.developer),
#product h3 {
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 10px;
  letter-spacing: 2px;
  font-weight: normal;
  padding-top: 2px;
  height: 22px;
  background-image: url(/public/images/maincol_gradient_rule.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  font-family: var(--font-main), serif;
}

#product .product-spec h3 {
  height: 38px;
  background-image: none;
}

#product .product-spec p {
  font-size: small;
  line-height: 18px;
}

#product .product-spec p > strong {
  color: #7f7f7f;
}

#product .product-comments {
  margin-left: 64px;
}

#product .product-comments form {
  margin-top: 25px;
}

#product .product-comments input {
  margin-top: 25px;
  background-color: #20303e;
}

.product-comment {
  background-image: url(/public/images/maincol_gradient_rule.png);
  background-repeat: no-repeat;
  background-position: top left;
  margin-top: 25px;
  background-color: #16202D;
  padding: 10px;
  margin-bottom: 20px;
}

#product .product-comment p:not(.product-comment-author) {
  font-style: normal;
  font-size: small;
  margin-top: 15px;
  margin-bottom: 10px;
  max-width: 50%;
}

#product .product-comment-author {
  padding-top: 5px;
  font-size: 18px;
  margin-bottom: 8px;
}

#product .product-comment span {
  text-transform: uppercase;
  color: #617084;
  font-size: x-small;
  margin-left: 3px;
}

/* Account styles */

#account {
  /*display: flex;*/
  margin: 20px;
}

#account p {
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 20px;
  margin-left: 25%;
  font-weight: lighter;
  color: gainsboro;
  text-align: left;
}

#account .account-signin p {
  margin-left: unset;
}

#account h2 {
  font-family: var(--font-main), serif;
  font-size: 32px;
  font-weight: lighter;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#account h3 {
  font-size: 20px;
  margin-bottom: 24px;
}

#account p.valid {
  color: var(--color-valid);
}

#account input.valid {
  border-color: var(--color-valid);
}

#account p.invalid {
  color: var(--color-invalid);
}

#account input.invalid {
  border-color: var(--color-invalid);
}

#account input[type="submit"],
#home a, #news input,
#store input[type="submit"],
#product input[type="submit"]:not(#product-add-to-cart, .developer){
  border-radius: 2px;
  border: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 24px;
  background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%) 25%;
  background-size: 330% 100%;
  text-decoration: none !important;
  color: #c3e1f8; !important;
  padding: 10px 40px;
  font-size: 14px;
}

#account input[type="text"], #account input[type="password"]{
  background-color: #32353C;
}

.account-signin > input {
  max-width: 50%;
}

.account-login > input {
  max-width: 50%;
}

#account .account-login {
  background-image: linear-gradient(to right top, #202226, #22252a, #25282d, #272b31, #2a2e35);
  flex: 1;
  margin-top: -20px;
  padding: 85px 150px 80px 150px;
  -webkit-box-shadow: 22px 0 47px -31px rgba(0,0,0,0.62);
  -moz-box-shadow: 22px 0 47px -31px rgba(0,0,0,0.62);
  box-shadow: 22px 0 47px -31px rgba(0,0,0,0.62);
  text-align: center;
}

#account .account-signin {
  flex: 2;
  padding: 64px;
  margin-left: 100px;
}

/* Account infos styles */
/* Tabs */
.tab {
  overflow: hidden;
  margin-top: 11px;
  margin-left: 30px;
}

.tab button {
  background-color: #2B2F35;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}

.tabcontent {
  display: none;
  padding-left: 10%;
  border-top: none;
}


#account-infos {
  margin: 20px;
}

#account-infos h1 {
  font-size: 30px;
  font-weight: lighter;
}

#account-infos p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 20px;
}

#account-infos h2 {
  /*font-family: var(--font-secondary), serif;*/
  font-size: 30px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

#account-infos h3 {
  font-size: 20px;
  margin-bottom: 24px;
}

#account-infos p.valid {
  color: var(--color-valid);
}

#account-infos input.valid {
  border-color: var(--color-valid);
}

#account-infos p.invalid {
  color: var(--color-invalid);
}

#account-infos input.invalid {
  border-color: var(--color-invalid);
}

#account-infos input[type="submit"] {
  border-radius: 2px;
  border: none;
  display: inline-block;
  cursor: pointer;
  margin-top: 24px;
  background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%) 25%;
  background-size: 330% 100%;
  text-decoration: none !important;
  color: #c3e1f8; !important;
  padding: 10px 40px;
  font-size: 14px;
}

#account-infos input[type="text"], #account-infos input[type="password"]{
  background-color: #32353C;
  width: 45%;
}

#account-infos .info-box {
  display: flex;
  align-self: flex-start;
  background-color: #2B2F35;
  flex: 1;
  padding: 35px;
  margin: 45px 5% 5%;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 44px -4px rgba(0,0,0,0.59);
  -moz-box-shadow: 10px 10px 44px -4px rgba(0,0,0,0.59);
  box-shadow: 10px 10px 44px -4px rgba(0,0,0,0.59);
}

.tab button {
  font-family: var(--font-secondary), serif;
  color : #C5C3C0;
  font-size: 18px;
  text-transform: uppercase;
}

.tab button:hover {
  color: #FFFFFF;
}

.tab button.active {
  color: #FFFFFF;
}

/* Cart styles */
.cart-product {
  vertical-align: center;
  display: flex;
  align-self: flex-start;
  height: 230px;
  padding: 35px;
  margin: 20px 10px 35px;
  max-width: 85%;
  background-color: #2a2f34;
  -webkit-box-shadow: 0 0 58px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 58px -19px rgba(0,0,0,0.75);
  box-shadow: 0 0 58px -19px rgba(0,0,0,0.75);
}

.cart-product img {
  max-height: 160px;
  height: auto;
  width: auto;
  align-content: center;
  text-align: center;
}

.cart-product-name {
  margin-left: 45px;
  display: inline-block;
  width: 400px;
}

.cart-product-quantity {
  display: inline-block;
  margin-top: 30px;
  width: 150px;
}

.cart-product-quantity button {
  cursor: pointer;
}

.cart-total {
  vertical-align: center;
  align-self: flex-start;
  height: 280px;
  margin: 10px 10px 35px;
  max-width: 80%;
  text-align: right;
}

.big-button {
  font-size: 18px;
  padding: 10px;
}

.count-button {
  background-color: #2a2f34 !important;
  border: none !important;
}

.circled {
  background: #232936;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em;
  font-family: var(--font-main);
  -webkit-box-shadow: 0 0 13px -1px rgba(0,0,0,0.46);
  -moz-box-shadow: 0 0 13px -1px rgba(0,0,0,0.46);
  box-shadow: 0 0 13px -1px rgba(0,0,0,0.46);
}

/* Error styles */

.condition-text {
  padding-top: 70px;
  font-size: 6px;
}

#error, #valid{
  padding: 25px;
  max-width: 75%;
  background-color: #1C1E22;
  border-radius: 4px;
  border: 2px solid var(--color-invalid);
  -webkit-box-shadow: 0 0 50px -12px rgba(0,0,0,0.65);
  -moz-box-shadow: 0 0 50px -12px rgba(0,0,0,0.65);
  box-shadow: 0 0 50px -12px rgba(0,0,0,0.65);
  margin: 50px 32px 40px;
}

.info-pane {
  font-family: var(--font-main), serif !important;
  margin: 0 0 30px !important;
  max-width: 60% !important;
}

#valid {
  border: 2px solid var(--color-valid);
}

@media screen and (max-width: 900px){
  #error, #valid {
    max-width: 90%;
  }
}

#error h1, #valid h1, #error-page h1 {
  margin-bottom: 16px;
}

#error p, #valid p, #error-page p {
  padding-top: 10px;
  font-size: 20px;
}

#error a, #valid a, #error-page a {
  display: inline-block;
  padding: 8px 12px;
}

#error-page {
  margin: 50px 32px;
  padding: 25px;
}

/* Footer styles */

footer {
  background-color: #171A21;
  border-top: 1px solid rgba(0, 0, 0, .2);
  padding: 32px 40px;
  height: 200px;
  margin-top: 70px;
  text-align: right;
  width: 100%;
}

footer strong {
  font-weight: 600;
}

/* Scrollbar */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: inherit;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: inherit;
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #474646;
}

/* Download page */
#download {
  width: 55%;
  margin-top: 120px;
  margin-left: 5%;
  margin-bottom: 100px;
}

#download h1 {
  margin-top: 10px;
  margin-left: 45px;
  font-size: 24px;
  font-weight: 200;
  width: 40%;
}

.download-info{
  margin-left: 45px;
  margin-top: 20px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  margin-right: 40px;
}

#download .staem-counter {
  padding-right: 100px;
  margin-top: 30px;
}

#download .staem-counter h3 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding-left: 10px;
  font-weight: 500;
  color: #989999;
}

#download .staem-counter p {
  color: whitesmoke;
  margin-top: 5px;
  font-size: 24px;
}

#download-button {
  margin-left: 45px;
  margin-top: 25px;
  width: 250px;
  display: flex;
  text-transform: uppercase;
  padding: 15px 0 15px 25px;
  border-radius: 3px;
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: left;
  color: whitesmoke;
  position: relative;
  font-family: var(--font-secondary), serif;
  font-weight: normal;
  background-size: 200%;
  background: linear-gradient(to right, #06bfff 50%, #2b74ff 100%) right 0;
  transition: all 150ms;
  -webkit-box-shadow: unset;
  -moz-box-shadow: unset;
  box-shadow: unset;
}

#download-button:hover {
  background: linear-gradient(to right, #06bfff 50%, #06bfff 100%) right 0;
  background-position: 0 0;
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: 0 0 56px -19px rgba(6,191,255,0.72);
  -moz-box-shadow: 0 0 56px -19px rgba(6,191,255,0.72);
  box-shadow: 0 0 56px -19px rgba(6,191,255,0.72);
}
@-webkit-keyframes AnimationName {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}
@keyframes AnimationName {
  0%{background-position:0 50%}
  50%{background-position:100% 50%}
  100%{background-position:0 50%}
}

#download-button svg {
  margin-left: 15px;
  margin-top: -1px;
}

#video-header {
  margin-left: 0;
  top: 40px;
  bottom: 0;
  right: 0;
  left: 40%;
  background-image: radial-gradient(ellipse farthest-side, rgba(0, 111, 255, 0.15), transparent);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  z-index: -1;
}
